<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyekAkhir_PABA"
        tools:targetApi="31">
        <activity
            android:name="project.c14210052_c14210182.proyekakhir_paba.addCashierPage"
            android:exported="false" />
        <activity
            android:name=".detailNewsPage"
            android:exported="false" />
        <activity
            android:name=".editProductPage"
            android:exported="false" />
        <activity
            android:name=".editProfilePage"
            android:exported="false" />
        <activity
            android:name=".editSupplierPage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".detailPenjualanPage"
            android:exported="false" />
        <activity
            android:name=".detailProductPage"
            android:exported="false" />
        <activity
            android:name=".daftarProdukPage"
            android:exported="false" />
        <activity
            android:name=".riwayatPenjualanPage"
            android:exported="false" />
        <activity
            android:name=".supplierInformationPage"
            android:exported="false" />
        <activity
            android:name=".addSupplierPage"
            android:exported="false" />
        <activity
            android:name=".supplierListPage"
            android:exported="false" />
        <activity
            android:name=".cashierPage"
            android:exported="false" />
        <activity
            android:name=".productCategoryPage"
            android:exported="false" />
        <activity
            android:name=".addCashierPage"
            android:exported="false" />
        <activity
            android:name=".inventoryPage"
            android:exported="false" />
        <activity
            android:name=".addProductPage"
            android:exported="false" />
        <activity
            android:name=".registerPage"
            android:exported="false" />
        <activity
            android:name=".loginPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>